/.prettierrc
/API.ipynb
/ExcecptionHandling.ipynb
/exercise.py
/Exercises
/import_API_data.py
/import_data_API.py
/Notebooks
/Numpy_exercise.ipynb
/Pandas.ipynb
/Practica.ipynb
/prueba.py
/prueba2 -copy.py
/prueba2.py
/test_db_connection.py